body{
	background-color: #F0F7C6;
}
#body{
	width: 60%;
	height: fit-content;
	background-color: white;
	border: 4px black solid;
	margin: auto;
}
#head{
	width: 100%;
	height: 150px;
	background-color: #BBD9CA;
}
#img1{
	float: left;
	margin-left: 50px;
}
p{
	margin-top: 0;
	padding-top: 5%;
	max-width: 100%;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}
#mid{
	height: 550px;
	width:  100%;
	background-color: pink;
}
div#mid div{
	float: left;
}
#lmid{
	width: 25%;
	height: 100%;
	background-color: #CCEDDD;
	margin: 0px;
	text-align: center;
}
#rmid{
	width: 75%;
	height: 100%;
	background-color: #D7FAE8;
	margin:  0 0px;
	text-align: center;
	padding: 0;
}
#img2{
	display: block;
	margin: auto;
	margin-top: 4%;
	max-width: 100%;
}
#foot{
	width: 100%;
	height: 100px;
	background-color: #BBD9CA;
	text-align: center;
	line-height: 35px;
}
div#lmid div{
	float: left;
	text-align: center;
}
#txt{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
}
.ling{
	width: 50%;
	padding: 2%;
	font-size: 110%;
	line-height: 40px;
	margin-left: 20%;
	margin-bottom: 20px;
	border-radius: 25px;
	background-color: #B6D4C5;
}
.ling a{
	text-decoration: none;
	color: black;
}
.pol{
	padding: 10px;
	font-size: 18px;
	line-height: 50px;
	border-radius: 50px;
	background-color: #B6D4C5;
}
a.pol{
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
	transition: 0.5s;
}